<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Social, Markdown Wikis</p>
</div>
<div class="text-center">
  <h3>Create and share Markdown Wikis</h3>
</div>
<br>
<div class="column pull-left">
  <div class="col-md-4 text-center">
      <h4>Create as many public wikis as you want!</h4>
      <button>Free Plan</button>
  </div>
</div>
<div class="column pull right">
  <div class="col-md-4 pull-right text-center">
    <h4>Create private wikis!</h4>
    <button>Premium Plan</button>
  </div>
</div>
